wheel==0.36.2
setuptools==54.1.2
appdirs==1.4.4
adafruit-circuitpython-lis3dh==5.1.9
adafruit-blinka==6.15.0
adafruit-circuitpython-dht==3.5.8
gpiozero==1.6.0
requests==2.25.1
pytz==2021.1
APScheduler==3.7.0
loguru==0.5.3
python-dotenv==0.15.0
